@charset "UTF-8";


section
{
    background-color: azure;
    padding: 2rem;
    gap: 2rem;
}

.sobre
{
   
}

.comofunciona
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 78, 156);
    border-radius: 8%;
    margin: 5%;
    color: #f1f1f1;
    text-align: justify;
    font-weight: 500;

}

.comofunciona h3

{
    font-size: 1.5rem;
}

.beneficios
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titulosbeneficios
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify];
}

.cardbottom {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  gap: 0.8rem;
  padding: 1rem;
  width: 16rem;
  height: 12rem;
  border-radius: 5vh;
  background: #ffffff;
  color: #105566;
  box-shadow: 1px 1px 5px #bebebe,
                -3px -3px 5px #e0f5dd;
               
              
 }

 .pq
 {
  margin-top: 3%;
  color: #105566;
  font-size: 1.8rem;
  font-weight: 900;
 
 }

 .s1
 {
  background-color: #6ee3203f;
 }
 .s2
 {
  background-color: #16ddab3f;
 }
 .s3
 {
  background-color: #6ee3203f;
 }
 .s4
 {
  background-color: #16ddab3f;
 }

 .cartoes
 {
    margin-top: 1%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-justify:inter-word;
    gap: 2rem;
    flex-wrap: wrap;
    
 }



.page3
{
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cidadessaopaulo
{
  text-align: justify;
  padding: 1rem;
}



.cidadesatendidas
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    
}


.titlecidades
{
  margin-top: 2rem ;
  color: #105566;
  font-size: 1.8rem;
  font-weight: 900;
}


.card {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    width: 240px;
    height: 320px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(57, 68, 64, 0.4),0 4px 6px -4px rgba(68, 243, 33, 0.4);
    border-radius: 10px;
    background: linear-gradient(45deg, #02111aea 0%, #085f75 100%);
    flex-wrap: wrap;
    
  }

  #cotia
  {
    background-color: rgb(44, 170, 255);
  
  }
 

  .content {
    padding: 10px;
  }
  
  .content .price {
    color: white;
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    margin-top: 1.5rem;
  }
  
  .content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content .title {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(153, 152, 152);
    border-radius: 0.5rem;
    width: 10rem;
    text-shadow: 0px 4px 18px #2c3442;
    cursor: pointer;
  }



  
