@charset "UTF-8";

.sobre
{
    background-color: aliceblue;
}

.comofunciona
{
    background-color: aqua;
}

.beneficios
{
    background-color: aquamarine;
}

.cidadesatendidas
{
    background-color: violet;
}

.depoimentos
{
    background-color: blanchedalmond;
}