@charset "UTF-8";


/* TABLETS */
@media only screen and (min-width:600px)
{

    body
    {
        background-color: red;

    }
    .header .banner
    {
       width: 60%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3rem;
}



}

/* COMPUTADORES */
@media only screen and (min-width: 992px)
{
    body
    {
        background-color: aqua;
    }


    .header .banner
    {
       width: 55%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3rem;
}

}   

/* TVS, TELAS ENORMES */
@media only screen and (min-width: 1200px)
{
    body
    {
        background-color: blueviolet;
    }

    .header {
        background-color: #b1fcc8;
        padding: 30px;
        text-align: center;
        height: 100vh;
      }
      

    .header .banner
    {
       width: 40%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3rem;
}

}