@charset "UTF-8";


/* TABLETS */
@media only screen and (min-width:600px)
{

    body
    {
        background-color: red;

    }
    .header .banner
    {
       width: 78%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3rem;
}

.page3
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cidades
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cidadessaopaulo
{
    padding: 3rem;
    font-size: 1.8rem;
}

.titlecidades
{
    font-size: 5rem;
    padding: 3rem;
    text-align: center;
}

.cartoes
{
    display: flex;
    flex-direction: row;
}

.pq
{
    font-size: 4.6rem;
    text-transform: uppercase;
    text-align: center;
}


}

/* COMPUTADORES */
@media only screen and (min-width: 992px)
{
    body
    {
        background-color: aqua;
    }


    .header .banner
    {
       width: 55%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3rem;
}

#cidades
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.cartoes
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

}   

/* TVS, TELAS ENORMES */
@media only screen and (min-width: 1200px)
{
    body
    {
        background-color: blueviolet;
    }

    .header {
        background-color: #b1fcc8;
        padding: 30px;
        text-align: center;
        height: 100vh;
      }

    .header .banner
    {
       width: 40%;
    
    }

    .mobilelogo
    {
        width: 10%;
    }

    .herobanner
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3rem;
}


}